---
import ExperienceItem from "./ExperienceItem.astro";
import experiences from "../data/experiences.json";
---

<section class="flex flex-col gap-8 bg-mono-900 px-4 py-8 lg:px-48">
  <h1>Experiences</h1>
  <div class="flex flex-col gap-8 xl:flex-row">
    {
      experiences.map((item) => (
        <ExperienceItem
          title={item.title}
          company={item.company}
          company_website={item.company_website}
          company_website_title={item.company_website_title}
          date={item.date}
          location={item.location}
          bullets={item.bullets}
          tags={item.tags}
        />
      ))
    }
  </div>
</section>
