---
import navigations from "../data/navigation.json";
import personal from "../data/personal.json";
---

<footer class="grid grid-cols-2 gap-8 bg-mono-black px-4 py-8 lg:px-48">
  <div>
    <h3>Navigations</h3>
    <ul class="list-none">
      {
        navigations.map((item) => (
          <li>
            <a class="" href={item.href} title={item.title}>
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div>
    <h3>Socials</h3>
    <ul class="list-none">
      {
        Object.entries(personal.social).map(([key, value]) => (
          <li>
            <a href={value} class="capitalize" target="_blank">
              {key}
            </a>
          </li>
        ))
      }
      <li>
        <a href={`mailto:${personal.email}`}> Email </a>
      </li>
    </ul>
  </div>
</footer>
