---
import Gallery from "./Gallery.astro";
import Tag from "./Tag.astro";
import { Icon } from "astro-icon/components";
const {
  title,
  summary,
  tags,
  challenge,
  solution,
  impact,
  source_url,
  demo_url,
  medias,
  status,
} = Astro.props;
---

<div
  class="flex min-h-[250px] min-w-[300px] flex-col gap-4 rounded-md border bg-mono-white p-4"
>
  <div
    class="-mx-4 -mt-4 h-[350px] w-[calc(100%+2rem)] shrink-0 overflow-hidden border-b border-accent"
  >
    {
      medias.length === 0 ? (
        <img
          src="/placeholder.png"
          alt="placeholder image"
          class="h-full w-full object-cover"
        />
      ) : (
        <Gallery medias={medias} />
      )
    }
  </div>
  <!-- title, summary -->
  <div>
    <h2 class="text-on-light-heading">{title}</h2>
    <p class="text-on-light-body">{summary}</p>
    <span class="text-on-light-muted">
      <strong class="text-on-light-strong">Status:</strong>
      {status}
    </span>
  </div>

  <!-- tags -->
  <div class="mt-4 flex flex-wrap gap-2">
    {tags.map((item: string) => <Tag title={item} />)}
  </div>

  <!-- challenge, solution, impact -->
  <div>
    <details>
      <summary class="text-on-light-muted"
        >Challenge, Solution and Impact</summary
      >
      <div class="flex flex-col">
        <strong class="text-on-light-strong">Challenge</strong>
        <p class="text-on-light-body">{challenge}</p>
        <strong class="text-on-light-strong">Solution</strong>
        <p class="text-on-light-body">{solution}</p>
        <strong class="text-on-light-strong">Impact</strong>
        <p class="text-on-light-body">{impact}</p>
      </div>
    </details>
  </div>

  <!-- button source & demo -->
  <div class="flex gap-4">
    <a
      href={source_url}
      title="Github project link"
      target="_blank"
      rel="noopener noreferrer"
      class="button-base button-fill flex items-center gap-2"
    >
      <Icon name="mdi:github" class="h-5 w-5" />
      <span>Github</span>
    </a>

    <a
      href={demo_url}
      title="Demo project link"
      target="_blank"
      rel="noopener noreferrer"
      class="button-base button-outline flex items-center gap-2"
    >
      <Icon name="lucide:external-link" class="h-5 w-5" />
      <span>Demo</span>
    </a>
  </div>
</div>
