---
import ProjectItem from "./ProjectItem.astro";
import projects from "../data/projects.json";
---

<section id="projects" class="flex flex-col gap-8 bg-mono-900 px-4 py-8 lg:px-48">
  <h1>Projects</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
    {
      projects.map((item) => (
        <ProjectItem title={item.title}, summary={item.summary}, tags={item.tags}, challenge={item.challenge}, solution={item.solution}, impact={item.impact}, source_url={item.source_url}, demo_url={item.demo_url} medias={item.medias} status={item.status}  />
      ))
    }
  </div>
</section>
